button {
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.player-container {
    width: 800px;
    height: 600px;
    box-shadow: 0px -12px 5px 12px rgba(50, 50, 50, 0.3);
    display: flex;
    flex-direction: column;
}

.video-container {
    width: 100%;
    height: 100%;
}

.controls-bar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;

}
